<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilo-top.css">
    <link rel="shortcut icon" href="/assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>

<body>
    <%- include('../partials/barra-navegacao-adm.ejs') %>
        <!--INICIO DO CONTEÚDO DA PÁGINA-->
        <div class="adicionar-instituicao-container">
            <form action="/editar/instituicao" method="get">
                <h1 id="titulo-login">Editar Instituição</h1>
                <input type="number" value="<%=id%>" id="id" hidden>
                <label>Nome:</label>
                <br>
                <input id="nome" type="text" name="nome" value="<%=nome%>" required>
                <br>
                <label>CNPJ:</label>
                <br>
                <input id="cnpj" type="text" name="cnpj" value="<%=cnpj%>" required>
                <br>
                <label>Conta:</label>
                <br>
                <input id="conta" type="number" name="conta" value="<%=conta%>" required>
                <br>
                <label>Agência:</label>
                <br>
                <input id="agencia" type="number" name="agencia" value="<%=agencia%>" required>
                <br>
                <button onclick="EditarUrl(Number(document.getElementById('id').value), document.getElementById('nome').value, document.getElementById('cnpj').value, Number(document.getElementById('conta').value), Number(document.getElementById('agencia').value))">Editar</button>
            </form>
        </div>
        <script src="/assets/js/editor_de_instituicoes.js"></script>
        <!--FIM DO CONTEÚDO-->

        <%- include('../partials/footer.ejs') %>
</body>