<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilo-top.css">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="shortcut icon" href="/assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>

<body>

    <%- include('../partials/barra-navegacao-adm.ejs') %>
        <!--span id="session" hidden>
                </span-->

        <!--INICIO DO CONTEÚDO DA PÁGINA-->

        <div class="instituicoes-container">
            <div class="em-linha">
                <h2>CONTROLE APM <%=rela_ano%>
                </h2>
            </div>
            <div class="em-linha">
                <p style="margin-right: 12px;">Agência: <%=inst_agencia%>
                </p>
                <p>Conta: <%=inst_conta%>
                </p>
            </div>
            <h4>
                <%=rela_mes%> / <%=rela_ano%>
            </h4>
            <p>Instituição: <%=inst_nome%></p>
            <label for="saldo_anterior">Saldo no mês anterior:</label>
            <input id="saldo_anterior" value="<%=saldo_ant%>" type="number" style="margin-bottom: 4vh;">
            <br>
            <button class="btn-adicionar" style="align-self: center; width: 200px; border: none;" onclick="criarNovoBloco()">Adicionar +</button>
            <div class="tabela-editor-inst">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Entrada</th>
                            <th scope="col">Saída</th>
                            <th scope="col">Saldo</th>
                        </tr>
                    </thead>
                    <tbody id="alvo-blocos">
                    </tbody>
                </table>
            </div>
            <button onclick="window.open(`/relatorios/gerar?id=<%=id_rela%>&mes=<%=rela_mes%>&ano=<%=rela_ano%>&saldo_ant=${Number(document.getElementById('saldo_anterior').value)}`)">Exportar</button>
        </div>

        <!--script src="/assets\js\carregador_de_instituicoes.js"></script>
        <script src="/assets/js/excluidor_de_instituicoes.js"></script>
        <script>

            function irParaPaginaDeEdicao(id){
                window.location = `/dashboard/instituicoes/editar?id=${id}`

            function RedirecionarParaEdicao(id) {
                fetch('/dashboard/instituicoes/editar', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ id: id })
                })
                    .then(async response => {
                        if (!response.ok) {
                            const text = await response.text(); // pega o erro como texto se não for JSON
                            throw new Error(`Erro HTTP ${response.status}: ${text}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Resposta:', data);
                    })
                    .catch(error => {
                        console.error('Erro:', error.message);
                    });

            }
        }
        </script-->

        <script src="/assets/js/construtor_de_relatorios.js"></script>
        <!--FIM DO CONTEÚDO-->

        <%- include('../partials/footer.ejs') %>
</body>