<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilo-top.css">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="shortcut icon" href="/assets/img/brasao_ermelinda.png" type="image/x-icon">
    <title>Apm Silver - Etec Profª Ermelinda Giannini Teixeira</title>
</head>

<body>
    <%- include('../partials/barra-navegacao-adm.ejs') %>
        <!--INICIO DO CONTEÚDO DA PÁGINA-->
        <div class="adicionar-instituicao-container">
            <form action="/editar/noticia" method="get">
                <h1 id="titulo-login">Editar Notícia</h1>
                <input type="number" value="<%=id%>" id="id" hidden>
                <label>Título:</label>
                <br>
                <input id="nome" type="text" name="titulo" value="<%=titulo_noticia%>" required>
                <br>
                <label>Conteúdo:</label>
                <br>
                <textarea id="conteudo" name="conteudo" required><%=conteudo%></textarea>
                <br>
                <button type="button" style="margin-top: 10px;" class="btn btn-dark">Editar</button>
            </form>
        </div>
        <script>
            document.querySelector('button').addEventListener('click', function () {
                const id = Number(document.getElementById('id').value);
                const titulo = document.getElementById('nome').value;
                const conteudo = document.getElementById('conteudo').value;
                

                EditarUrl(id, titulo, conteudo);
            });

        </script>

        <script src="/assets/js/editor_de_noticias.js"></script>
        <!--FIM DO CONTEÚDO-->

        <%- include('../partials/footer.ejs') %>
</body>